#loadingBar {
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
}

#loadingBar div {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}
